
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/register.css}" rel="stylesheet">
	<title>Update</title>
</head>
<body>
	<div class="container">
		<div class="registerBox">
			<h2>Update Profile</h2>
			<form th:action="@{updated}" method="post">
				<div class="inputFormat">
					
					<input type="text" name="name" placeholder="Fullname" required><br>
					<input type="text" name="country" placeholder="Country"><br>
					<input id="stateFormat" type="text" name="state" placeholder="State">
					<input id="cityFormat" type="text" name="city" placeholder="City"><br>
					<input type="number" name="number" placeholder="Mobile" required><br>
					<input type="text" name="id" placeholder="id" th:value="${id}" hidden>
				</div>
				<div class="buttons">
					<input type="submit" value="update" onclick="sucess()">
					<input type="reset" value="Cancel">
				</div>
			</form>	
		</div>
	</div>
	<script>
		function sucess(){
			alert("Sucessfully updated");
		}
	</script>
</body>

</html>